<div id="results" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">

        <!-- <div id="slider" class="col-xs-12">
      </div> -->

      <div>
        <div id="map-canvas" class="map-index"></div>
      </div>

      <div id="results-list">
        <p class="results-count">
          <%= render "restaurant_count" %>
        </p>
        <% @restaurants.each do |restaurant| %>
          <div class="restaurant-result">
            <%= link_to restaurant_path(id: restaurant.id) do %>
              <h4 class="result-title"><%= restaurant.name %></h4>
              <!-- <p class="restaurant-info badges"> -->
                <!-- <%# restaurant.cuisine.each do |type| %> -->
                  <!-- <span class="badger result"><%#= type %></span> -->
                <!-- <%# end %> -->
              <!-- </p> -->
              <p class="restaurant-info">
                <%= restaurant.address %><br>
                <%= restaurant.locality %>, <%= restaurant.region %> <%= restaurant.postcode %>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
